h1 {
  text-align: center;
  margin: 20px auto;
  font-family: monospace;
  color: #ffffffd2;
}

h1:hover {
  background-color: aqua;
  color: #000000;
  border: 1px solid aqua;
  width: fit-content;
  border-radius: 6px;
  margin: 20px auto;
  transition: aqua 2ms ease-in-out;
  cursor: pointer;
}

hr {
  max-width: 132px;
  border: 1px solid #ffffffd2;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

img {
  vertical-align: middle;
  border-style: none;
}

input {
  border-radius: 4px;
}

p {
  line-height: 2;
  margin-bottom: 12.5px;
  margin-top: -21px;
}

small {
  text-align: center;
  display: block;
  margin-top: -9px;
  margin-left: -368px;
  line-height: 0px;
}

i:hover {
  text-decoration: underline;
  color: blueviolet;
  cursor: pointer;
}

ul {
  list-style: none;
  text-align: right;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: black;
  text-decoration: none;
  cursor: default;
}

button:hover {
  background-color: rgb(252, 148, 165);
  border-radius: 5px;
  transition: rgb(252, 78, 107) 2ms ease-in-out;
}
